.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table,
th {
  font-weight: bold;
  background-color: rgba(46, 117, 231, 0.806);
  height: 50px;
}

.table,
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table,
tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: rgba(12, 136, 237, 0.18);
}
