.title {
  display: flex;
  justify-content: center;
}

.table-html {
  margin-bottom: 50px;
}

.add-user-button {
  margin-left: 91%;
  font-weight: bold;
  background-color: rgba(0, 68, 255, 0.299);
  border-color: transparent;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 2px;
}

.users-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.users-table th {
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.126);
  height: 50px;
}

.users-table td,
.users-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.users-table tr:nth-child(even) {
  background-color: #dddddd09;
}

.users-table tr:hover {
  background-color: rgba(12, 136, 237, 0.18);
}

.remove-cursor {
  cursor: pointer;
  text-decoration: none;
  color: red;
  display: flex;
  justify-content: center;
}

.remove-cursor:hover {
  text-decoration: none;
  color: red;
}

.button-ant {
  margin-bottom: 10px;
  margin-left: 90%;
}
