.add-user {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 45%;
}

.submit-button {
  background-color: rgba(0, 68, 255, 0.299);
  border-color: transparent;
  border-radius: 2px 2px 2px 2px;
}
